<!DOCTYPE html>
html
  head    
    meta(charset="utf-8")
    title PINK adaptive    
    link(href="css/style.css" rel="stylesheet")
  body      
    header.main-header 
      div.main-header__top.main-header__top--photo
        div.main-header__row.clearfix
          div.main-header__layout           
            p.main-header__col1.logo 
              a(href="#")
                img(src="img/img_logo.png" width="75" height="22" alt="PINK")
            nav.main-header__col2.main-menu
              a(href="#")
                i.icon-menu                     
        div.intro
          div.intro__layout
            h1.intro__header Фотографии пользователей
    main
      div.photo
        div.photo__layout
          p. 
            Взгляните на фотографии, которые выкладывают пользователи!
            Видите, как не хватает ваших?        
            
         -cards = [{filepath:"img/panorama.jpg", title:"Анна", time_added:"(5 минут назад)", content:"Прыгать или нет? Напишите комментарий свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!", counter:"215", type:"top"},{filepath:"img/photo1.jpg", title:"Анна", time_added:"(5 минут назад)", content:"Прыгать или нет? Напишите комментарий свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!", counter:"215", type:""},{filepath:"img/photo2.jpg", title:"Левон", time_added:"(5 часов назад)", content:"Вчера он на луну летал, сегодня в руки к нам попал", counter:"356", type:""},{filepath:"img/photo3.jpg", title:"Антон", time_added:"(12 часов назад)", content:"Соседи будут рады", counter:"666",type:""},{filepath:"img/photo4.jpg", title:"Борис", time_added:"(20 часов назад)", content:"Здесь могла быть ваша цитата о высоком и вечном.", counter:"215",type:""},{filepath:"img/photo5.jpg", title:"Сергей", time_added:"(25 часов назад)", content:"Самая кубанская в мире!", counter:"4",type:""},{filepath:"img/photo6.jpg", title:"Максим", time_added:"(40 часов назад)", content:"Где снег-то?", counter:"150",type:""},{filepath:"img/photo7.jpg", title:"Надежда", time_added:"(45 часов назад)", content:"Всем GM и взаимные лайки!", counter:"2560",type:""}]  
         
           each card in cards            
           
             article.photo-card
               
               if card["type"] != "top"
                 img(src="#{card['filepath']}" alt="#{card['title']}" width="280" height="180").photo-card__image          
               else
                 img(src="#{card['filepath']}" alt="#{card['title']}"  width="320" height="137").photo-card__top-image 
                 p.photo-card__title Панорама дня             
               div.photo-card__layout
                 p.photo-card__author #{card["title"]}     
                   span.photo-card__time-added #{card["time_added"]}  
                 p.photo-card__content.
                   #{card["content"]}
                 p.photo-card__likes
                   i.icon-heart
                   Нравится:
                   span.photo-card__likes-counter #{card["counter"]}
      form(method="get").upload
        div.upload__layout
          p.upload__header Затмите их всех! Выкладывайте все, что накопилось на телефоне!
          div.image
            div.image__src
              img(src="#" width="280" height="375" alt="Загрузить изображение с телефона")
            label.image__effect
              i.icon-crop
              input(type="checkbox" id="crop" checked)
            label.image__effect
              i.icon-fill
              input(type="checkbox" id="fill")
            label.image__contrast
              i.icon-contrast
              input(type="checkbox" id="contrast") 
            div.progress-bar
              div.progress-bar__line
              div.progress-bar__point
              
            input(type="submit" value="Запостить").image__post 
            input(type="reset" value="Отмена").image__cancel 
    footer.main-footer          
      div.footer-layout
        a(href="index.html").form__logo
          img(src="img/img_logo1.png" width="147" height="40" alt="PINK")
      div.socials
        i.icon.icon-twitter
        i.icon.icon-fb
        i.icon.icon-youtube
      div.htmlacademy
        Разработано
        img(src="img/img_htmlacademy.png" width="27" height="34" alt="htmlacademy")            
        
            